
@{
    ViewBag.Title = "Login_Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login_Home</h2>

<div>
    @Html.ActionLink("NEW APPOIMENT","Index","appiment")

</div>
<div>
    @Html.ActionLink("APPOIMENT DETAILS","Detail","appiment")

</div>

